.Restaurante {
  .VerMais {
    border-radius: 28px;
    color: #000;
    display: inline-block;
    background: #FFF;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 500;
    border-color: #000;
    cursor: pointer;
    text-transform: uppercase;
    border-style: solid;

    &:hover {
      color: #FFF;
      background: #f2745f;
      border-color: #f2745f;
    }
  }
}